
@{
    ViewData["Title"] = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Cliente;

<link href="~/css/reset.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/style-cadastro.css" rel="stylesheet" media="all" />
<script>
    addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
</script>
<body>
    <h1 class="header-w3ls">
        Cadastro
    </h1>
    <div class="online-w3l-form">
        <div class="appointment-w3">
            <form asp-controller="Cliente" asp-action="Resumo" method="post">
                <div class="main">
                    <div class="form-left-w3l">
                        <input type="text" class="top-up" asp-for="@Model.Nome" placeholder="Nome">
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-right-w3ls ">
                        <input type="text" class="top-up" asp-for="@Model.CEP" placeholder="CEP">
                        <span asp-validation-for="@Model.CEP" class="text-danger"></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="main">
                    <div class="form-left-w3l">
                        <input type="email" asp-for="@Model.Email" placeholder="E-mail">
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="form-right-w3ls ">
                        <input class="buttom" type="text" asp-for="@Model.Telefone" placeholder="Telefone">
                        <span asp-validation-for="@Model.Telefone" class="text-danger"></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-add-w3ls">
                    <input type="text" asp-for="@Model.Rua" placeholder="Rua">
                    <span asp-validation-for="@Model.Rua" class="text-danger"></span>
                </div>
                <div class="main">
                    <div class="form-left-w3l">
                        <input type="text" asp-for="@Model.Complemento" placeholder="Complemento">
                        <span asp-validation-for="@Model.Complemento" class="text-danger"></span>
                    </div>
                    <div class="form-right-w3ls ">
                        <input type="text" asp-for="@Model.Bairro" placeholder="Bairro">
                        <span asp-validation-for="@Model.Bairro" class="text-danger"></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="main">
                    <div class="form-left-w3l">
                        <input type="text" asp-for="@Model.Municipio" placeholder="Município">
                        <span asp-validation-for="@Model.Municipio" class="text-danger"></span>
                    </div>
                    <div class="form-right-w3ls">
                        <select class="form-control buttom" asp-for="@Model.UF">

                            <option selected value="">Selecione o estado</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                        <span asp-validation-for="@Model.UF" class="text-danger"></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="btnn">
                    <input type="submit" value="Cadastrar">
                </div>
            </form>
        </div>
    </div>
</body>
