
@{
    ViewData["Title"] = "Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ClienteViewModel
<h1>Tem certeza de que gostaria de deletar o cliente?</h1>

<table>
    <thead>
        <tr class="cabecalho">
            <th>Nome</th>
            <th>Rua</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Complemento</th>
            <th>Bairro</th>
            <th>Municipio</th>
            <th>UF</th>
            <th>CEP</th>
        </tr>
    </thead>
    <tbody id="tabela-clientes">


        <tr class="cliente-tr">
            <td class="info-nome">@Model.Cliente.Nome</td>
            <td>@Model.Cliente.Rua</td>
            <td>@Model.Cliente.Email</td>
            <td>@Model.Cliente.Telefone</td>
            <td>@Model.Cliente.Complemento</td>
            <td>@Model.Cliente.Bairro</td>
            <td>@Model.Cliente.Municipio</td>
            <td>@Model.Cliente.UF</td>
            <td>@Model.Cliente.CEP</td>
        </tr>

    </tbody>

</table>
<form asp-action="Deletar">
    <input type="hidden" asp-for="Cliente.Id" />
    <input type="submit" value="Deletar" class="btn btn-danger" />
    <a asp-action="Lista">Voltar para a lista</a>
</form>