@page
@model LoginModel

@{
    ViewData["Title"] = "Entrar";
}
<head>
    <title> @ViewData["Title"]</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Spin Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <!-- Stylesheets -->
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/style-login.css" rel="stylesheet" />
    <!--// Stylesheets -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!--//fonts-->
</head>

<body>
    <h1>@ViewData["Title"]</h1>

    <div class="clear-loading spinner ">
        <span></span>
    </div>
    <div class="w3ls-login box box--big">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="agile-field-txt">
                <label asp-for="Input.Email"><i class="fa fa-user" aria-hidden="true"></i>E-mail de cadastro </label>
                <input type="text" asp-for="Input.Email" placeholder="E-mail" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="agile-field-txt">
                <div class="form-group">
                    <label asp-for="Input.Password"><i class="fa fa-unlock-alt" aria-hidden="true"></i>Senha</label>
                    <input type="password" asp-for="Input.Password" placeholder="Senha" id="myInput1" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="agile_label">
                    <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                    <label class="check" for="check3">Mostrar senha</label>
                </div>
                <div class="agile-right">
                    <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu a sua senha?</a>
                </div>

            </div>
            <div class="agile-field-txt">
                <div class="agile_label">
                    <input asp-for="Input.RememberMe" />
                    <label class="check" asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                </div>
                <div class="agile-right">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Cadastrar novo usuário</a>
                </div>
            </div>

            <input type="submit" class="btn btn-primary" value="Registrar">
        </form>

    </div>
    <div class="agile-field-txt">
        <section>
            <h2>Usar outro serviço de autenticação</h2>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            @*There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.*@
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</body>


<script src="~/js/register.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
